*{
	font-weight:700!important;
	font-family: 'Montserrat',sans-serif;

}
html, body{
	text-align: center;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
	background: black!important
}
nav{
	background: black!important;
	border-bottom: 2px solid #e62b1e;
	font-size: 23px;
	font-weight: 700;
}
canvas{
	z-index: -1!important;
	height: 110%;
}

#timer{
	display: inline-block;
	color: #e62b1e;
	font-size: 20px!important;
	background: black!important;
	border:2px solid #e62b1e;
	padding: 5px;
	margin-right: 20px!important;
}

@media only screen and (min-width: 600px) {
	li{
		margin-left: 40px!important;
	}
}
#welcomeTxt1{
	color: white;
	font-size: 5em;
	position: absolute;
	left: 25%;
  top: 30%;
}
#welcomeTxt2{
	color: white;
	font-size: 5em;
	position: absolute;
	left: 35%;
  top: 50%;
}
#welcomeTxt3{
	color: white;
	font-size: 5em;
	position: absolute;
	left: 45%;
  top: 70%;
}
@media only screen and (max-width: 600px) {
	nav{
		text-align: center;
		z-index: 11!important;
	}
  #mainLogo{width: 100%;height: auto;}
	.navbar-brand{
		width: 50%;
	}
	#timer{
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 15px;
	}
	#welcomeTxt1{
		color: white;
		font-size: 2em;
		position: absolute;
		left: 10%;
	  top: 10%;
	}
	#welcomeTxt2{
		color: white;
		font-size: 2em;
		position: absolute;
		left: 10%;
	  top: 15%;
	}
	#welcomeTxt3{
		color: white;
		font-size: 2em;
		position: absolute;
		left: 15%;
	  top: 20%;
	}
}
h2{
	transition: 0.3s all;
}
h2:hover{
	transform: scale(1.2);
	transition: 0.3s all;
	cursor: pointer;
}
