*{
	font-weight:700;

}
html, body{
	text-align: center;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
	background: black!important
}
nav{
	background: black!important;
	border-bottom: 2px solid #e62b1e;
	font-size: 23px;
	font-weight: 700;
}
canvas{
	z-index: -1!important;
	height: 110%;
}

#timer{
	display: inline-block;
	color: #e62b1e;
	font-size: 20px!important;
	background: black!important;
	border:2px solid #e62b1e;
	padding: 5px;
	margin-right: 20px!important;
}
@media only screen and (max-width: 600px) {
	nav{
		text-align: center;
	}
  #mainLogo{width: 100%;height: auto;}
	.navbar-brand{
		width: 50%;
	}
	#timer{
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 15px;
	}
}
@media only screen and (min-width: 600px) {
	li{
		margin-left: 40px!important;
	}

}
