.grid{
	display: flex;
	flex-direction: column;
	justify-content: center;}
.tab{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px red;
	margin: 0 10%;

}
#particles-js{
	width: 100%;
	height: 700vh;
	background: black;
}
i{
	color: white;
}
.tab img{
	width: 45vh;
	height: 50vh;
	margin: 3% 50%;
	position: relative;
	/*object-fit: fill;*/
	top: 0;
	left: 0;
}

@media only screen and(max-width: 800px){
	.tab{
		flex-direction: column;
	}
}
h2{
	color: white;
	text-align: center;
}
div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 5%;
/*  width: 40%;*/
/*  width: 100%;*/
/*  background: #000000;*/
  text-align: center;
  display: flex;
  width:45vh;
  height:63vh;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
p{
position: absolute;
  top: 49%;
  left: 49%;
/*  border-radius: 50%;*/
  font-size: 34px;
  color: #000000; 
  width:100px;
  text-align: center;
  height: 60px;
  color: white;
  font-size: 25px; 
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.name{
	color: white;
	font-size: 20px;
	margin-bottom: 15px;
}

i{
	color: white;
	margin: 0 10px;
	font-size: 20px;
}
#icons{
	display: flex;
	flex-direction: row;
	text-align: center;
	left: 50%;
}
/*div.item:hover .first{
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}div.item:hover .sec{
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}*/
div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}
div.item:hover p{
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);